* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: url('Images/BG.jpg');
    background-size: cover;
    height: 90vh;
    background-position: center;
}

a {
    text-decoration: none;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

/*-------------------------------------------------------Navbar----------------------------------------------------*/

nav {
    width: 100%;
    top: 0;
    position: fixed;
    padding: 5px;
    z-index: 10;
    background: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-left {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-left a {
    padding: 10px;
    padding-left: 50px;
    display: flex;
    align-items: center;
}

.nav-right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right img {
    width: 40px;
    margin-right: 20px;
}

.nav-right a {
    display: flex;
    align-items: center;
}

.nav-right a p {
    font-size: 20px;
}

/*-------------------------------------------------------Main----------------------------------------------------*/

main {
    width: 100%;
    margin-top: 60px;
}

.Containor {
    width: 100%;
    margin-left: 30px;
}

.Containor .P-Head {
    font-size: 40px;
    color: white;
}

.Containor .content .header {
    font-size: 30px;
    width: 50%;
    height: 200px;
    color: white;
}

.Containor .content .footer {
    font-size: 30px;    height: 200px;
    color: white;
}

/*----------------------------------------------------Detection----------------------------------------------------*/

.detection {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detection-box {
    width: 25%;
    height: auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, .2);
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.detection-head {
    width: 100%;
    height: 40px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detection-main-box {
    width: 100%;
}

.detect-head {
    width: 100%;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detect-main {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
}

.detect-main input {
    width: 75%;
}

.detect-btn {
    width: 100%;
    height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.detect-btn button {
    width: 75%;
}

.detect-result {
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: none;
}

#result {
    width: 75%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}